/* HEADER */
.header {
  background: linear-gradient(135deg, #003b2e, #005f47);
    padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-radius: 8px;
}

/* LOGO */
.hola {
  filter: drop-shadow(0 0 6px rgba(0,0,0,0.5));
  transition: transform 0.3s ease;
}
.hola:hover { transform: scale(1.1); }

/* BOTÓN HAMBURGUESA */
.toggle-btn {
  display: none;
  background: transparent;
  border: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
}

/* MENU DESKTOP */
.menu-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.menu-list {
  display: flex;
  gap: 25px;
}

.menu-item {
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
  background: rgba(255,255,255,0.05);
  border-radius: 6px;
  transition: 0.3s;
}

.menu-item:hover {
  background: rgba(255,255,255,0.20);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .menu-wrapper {
    display: none;
    position: absolute;
    top: 100%;
    right: 10px;
    background: rgba(0,0,0,0.25);
    padding: 1rem;
    border-radius: 8px;
  }

  .menu-wrapper.show {
    display: block;
  }

  .menu-list {
    flex-direction: column;
    gap: 10px;
  }

  .toggle-btn {
    display: block;
  }
}
