<div class="header block p-4 mb-3">
  <div class="grid align-items-center">

    <!-- BOTÓN IZQUIERDA -->
    <div class="col-2 flex align-items-center justify-content-start">
      <button class="toggle-btn" (click)="toggleMenu()">
        <i class="pi pi-bars"></i>
      </button>
    </div>

    <!-- MENÚ CENTRO -->
    <div class="card col-8" [ngClass]="{ 'hidden-menu': !menuVisible }">
      <p-menubar [model]="items">
        <ng-template pTemplate="item" let-item>
          <a [routerLink]="item.route" class="p-menuitem-link"
             (click)="item.command ? item.command() : null">
            <span [class]="item.icon"></span>
            <span class="ml-2">{{ item.label }}</span>
          </a>
        </ng-template>
      </p-menubar>
    </div>

    <!-- LOGO DERECHA -->
    <div class="col-2 flex align-items-center justify-content-end">
      <p-image class="hola" width="70"
        src="https://images.vexels.com/content/229082/preview/book-circles-logo-82dff4.png">
      </p-image>
    </div>

  </div>
</div>


