.principal {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto; /* header - contenido - footer */
}

/* Contenido normal del router-outlet */
.contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ocupa el espacio de la fila central */
}

/* Ocultar visualmente header/footer solo en login */
.hidden-login {
  display: none;
}



/* Cuando estamos en la ruta de login */
.contenido.login-route {
  grid-row: 1 / 4; /* ocupa todas las filas del grid: header + contenido + footer */
  height: 100dvh;  /* ocupa toda la ventana */
}

.login-card:hover {
  box-shadow: 0 20px 40px rgba(255,191,0,0.3), 0 10px 30px rgba(0,0,0,0.4);
}

.error-msg {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.error-msg.show {
  opacity: 1;
}

