/* You can add global styles to this file, and also import other style files */
@import "primeflex/primeflex.scss";
@import "primeicons/primeicons.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

body, html {
    height: 100%;
    margin: 0;
}


body {
  background: linear-gradient(135deg, #e9ebee 0%, #dce7e3 35%, #cfe2dd 70%, #b8d4cc 100%);
  margin: 0;
}
